includes:
	- vendor/larastan/larastan/extension.neon
	- vendor/lychee-org/phpstan-lychee/phpstan.neon

parameters:
	level: 9
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- tests
		- database/migrations
		- config
	ignoreErrors:
